h1 {text-align: center;background-color: rgba(170, 242, 252, 0.74);font-family: 'Source Serif Pro', serif;}
h2 {font-family: 'Source Serif Pro', serif;background-color: rgba(187, 255, 246, 0.74);}
body{background-color: rgba(255, 205, 238, 0.904);}



p{font-family: 'Mate SC', serif;font-size: 25px;}

.titulo{background-color: rgb(255, 152, 215);}
.curriculum{
	width: 90%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid rgb(0, 255, 213);
	border-color: rgb(140, 0, 255);
	border-width: 2px;
	border-style: solid;
}
li{font-family: 'Mali', cursive;}

#betty {width: 350px;}

.curriculum img {width: 230px;margin: 5px;}

#imagencentral {display: block;margin: auto;width: 60%;}

footer{display: flex;flex-direction: row;justify-content: center;}

.logoup {width: 30px;width: 75px;margin: 10px;}

iframe {display: block;margin: auto;width: 500px;}



.logo1 {float: left;width: 100px;} 
.logo2{float: right;width: 70px;}


/*Tablets*/
@media (min-width: 768px) and (max-width:991px){
	#imagencentral {width: 75%;}
	#betty  {width: 260px;}
	.curriculum img {width: 140px;}
	iframe {width: 400px;}
	li {font-size: 20px;}
	
}

/*celular*/
@media (min-width:576px) and (max-width:767px){
	.curriculum{margin-top: 10px;}
	#imagencentral {display: none;}
	#betty{width: 170px;}
	p{font-size: 20px;}
	.personalidad2 {display: none;}
	.aspecto2 {display: none;}
	.outfitviejo2 {display: none;}
	.outfitnuevo2 {display: none;}
	iframe {margin: 10px;}
	li {font-size: 20px;}

}